[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure.git
[submodule "fast-syntax-highlighting"]
	path = fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "fzf-tab"]
	path = fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "lib/forgit"]
	path = forgit
	url = https://github.com/wfxr/forgit.git
[submodule "dotbare"]
	path = dotbare
	url = https://github.com/kazhala/dotbare.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
